################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/obj/
/API/bin/
/Application/bin/
/Application/obj/
/Data/bin/
/Data/obj/
/Domain/bin/
/Domain/obj/
/Infra/bin/
/Infra/obj/
/Job/obj/
/Job/bin/
/Test/bin/
/Test/obj/
