################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/bin
/Application/obj/Debug/net6.0
/Data/bin
/Data/obj
/Domain/bin
/Domain/obj
/Infra/bin
/Infra/obj
/Test/bin
/Test/obj
/Worker/obj
/Worker/bin
/.vs
/API/obj
/API/bin
/Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
